page-home {

}

.toolbar-background{
    background: color($colors, primary);
}

.toolbar-title {
    color:color($colors, extra-light);
}

.hide{
    display:none;
}

.widget {
    height: 10vh;
    text-align: center;
}

.banner {
    background: color($colors, secondary);
    border-radius: 0px;
    box-shadow:none;
}

.fav-button{
    height: 10vh;
}